@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

html {
    scroll-behavior: smooth;
}

a,
.button {
    transition: all 0.3s ease;
}


nav,
.nav-links {
    display: flex;
}

nav {
    background: linear-gradient(90deg, #033905 0%, black 100%);
    color: white;
    justify-content: space-around;
    align-items: center;
    height: 7vh;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-links {
    list-style: none;
    gap: 2rem;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

a:hover {
    color: #76c776;
}

#mobile-nav {
    display: none;
}

.humburger-menu {
    position: relative;
    display: inline-block;
}

.humburger-icon {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 24px;
    width: 30px;
    cursor: pointer;

}

.humburger-icon span {
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background: linear-gradient(90deg, #033905 0%, black 100%);
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.menu-links a {
    display: block;
    padding: 1rem 2rem;
    text-align: center;
    color: white;
    text-decoration: none;
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

/* Home Section */

#home {
    position: relative;
    height: 96vh;
    width: 100%;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.bg-video {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
    overflow: hidden;
    filter: brightness(50%);
}

.hero {
    z-index: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.btn {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.button {
    background-color: #033905;
    color: white;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 1rem;
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
}

.button:hover {
    background-color: #76c776;
}

/* What-is-greenhouse */

#What-is-greenhouse {
    height: 96vh;
    justify-content: center;
    margin-top: 5rem;
    gap: 1rem;
    color: #033905;
}

.greenhouse-information {
    text-align: center;
}

.plant01 {
    width: 550px;
    height: 350px;
    border-radius: 2rem;
}

.container {
    padding-top: 4rem;
    flex: 2;
    margin: 0 10rem;
    box-sizing: border-box;
    display: flex;
}

.plant-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Plant-list {
    margin-top: 2rem;
    gap: 1rem;
}

/* why-is-greenhouse */

#why-is-greenhouse {
    height: 96vh;
    justify-content: center;
    margin-top: 5rem;
    gap: 1rem;
    color: #033905;
}

.plant-card-container {
    display: flex;
    gap: 2rem;

}

.plant-card {
    padding: 1rem;
    border-radius: 1rem;
    border: 0.1rem solid #033905;
    align-self: center;
    justify-content: center;
}

.plant-card h3 {
    text-align: center;
}

.plant-card-img {
    width: 250px;
    height: auto;
    border-radius: 1rem;
}

.btn-card-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.btn-card {
    margin-top: 1rem;
    background-color: #033905;
    color: white;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 1rem;
    font-weight: bolder;
    cursor: pointer;
}

.btn-card:hover {
    background-color: #76c776;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}